BOT_TOKEN="8875866899:AAE65p3jDssHvI7rOow85T1lGoxti_r2smA"
CORS_ORIGINS="https://amir2013bikecom-crypto.github.io"
DATABASE_URL="postgresql+asyncpg://postgres.evajshvzhjwqxdaxcalw:AKq%40a7TKm%235%26pKb@aws-0-eu-west-1.pooler.supabase.com:6543/postgres"
DEBUG="false"
MINI_APP_URL="https://amir2013bikecom-crypto.github.io/cosmetics-miniapp-frontend/"
SELLER_API_KEY="mirkosmetiki_secret_key_2026_xK9pL3mN7qR2"

